@charset "UTF-8";

.bd-meta {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: @meta-padding;
    border: none;
    font-size: @meta-font-size;

    &.bd-vStat-valid:before {
        color: @meta-valid-color;
        content: "\e910";
    }

    &.bd-vStat-contextInfo:before, &.scalarInfo:before {
        color: @meta-info-color;
        content: "\ea08";
    }

    &.bd-vStat-contextWarn:before, &.bd-vStat-scalarWarn:before {
        color: @meta-warn-color;
        content: "\ea07";
    }

    &.bd-vStat-contextError:before, &.bd-vStat-scalarError:before {
        color: @meta-error-color;
        content: "\ea0d";
    }
}