@charset "UTF-8";
@import "icomoon/style.css";
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: #222222;
  margin: 0;
  padding: 0;
  background-color: white;
}
.icon-mixin {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container.Buttons {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  border: 1px solid #CCC;
}
.bd-button {
  /* center the content both ways */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  min-height: 2em;
  border: 1px solid #5a739b;
  margin: 0.15em;
  border-radius: 5px;
  background: #9fb1ce;
  cursor: pointer;
}
.bd-button div {
  display: inline-block;
  padding: 3px;
}
.bd-button div:after {
  padding: 5px;
}
.bd-button:hover,
.bd-button.tickle:hover {
  background: #bcd1f2;
  -webkit-animation-name: none;
  animation-name: none;
}
.bd-button.bd-disabled {
  border-color: #a9a9a9;
  background: #ddd;
  color: #a9a9a9;
  cursor: default;
  text-shadow: 1px 2px 1px white;
}
.bd-button.tickle {
  background-image: none;
  animation-name: yellowTickle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes yellowTickle {
  0% {
    background-color: white;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: white;
  }
}
.bd-state-button {
  display: inline-flex;
  min-height: 2em;
  margin: 0.15em;
  cursor: pointer;
  padding: 0 1em;
  border: 1px solid #5a739b;
  border-radius: 5px;
  background: #9fb1ce;
}
.bd-state-button > div {
  /* center the content both ways */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.bd-state-button:hover {
  background: #bcd1f2;
}
.bd-state-button.bd-disabled {
  background: #ddd;
  color: #a9a9a9;
  cursor: default;
  text-shadow: 1px 2px 1px white;
}
.bd-state-button.checkbox {
  padding: 0.2em;
  border: none;
  background-color: inherit;
}
.bd-state-button.checkbox > div {
  border: 1px solid black;
  padding: 3px;
  font-weight: bold;
}
.bd-state-button.checkbox > div > div::selection {
  background-color: inherit;
  color: inherit;
}
.bd-state-button.checkbox > div > div:nth-child(2) {
  height: 1em;
  width: 1em;
  text-align: center;
}
.bd-state-button.radio-button {
  padding: 0.2em;
  border: none;
  background-color: inherit;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bd-state-button.radio-button div::selection {
  background-color: inherit;
  color: inherit;
}
.bd-state-button.checkbox.state-null,
.bd-state-button.radio-button.state-null {
  color: #c6be1b;
}
/*# sourceMappingURL=http://localhost:8080/altoviso/bd-widgests/less/main.css.map */