@charset "UTF-8";
@import "icomoon/style.css";
body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  color: #222222;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
input {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}
.bd-rbox {
  position: relative;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.icon-mixin {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container.Button,
.container.StateButton,
.container.ReactComponent {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  border: 1px solid #CCC;
}
.container.ReactComponent {
  max-width: 20em;
  min-width: 12em;
}
.bd-meta {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: none;
  font-size: 20px;
}
.bd-meta.bd-vStat-valid:before {
  color: green;
  content: "\e910";
}
.bd-meta.bd-vStat-contextInfo:before,
.bd-meta.scalarInfo:before {
  color: green;
  content: "\ea08";
}
.bd-meta.bd-vStat-contextWarn:before,
.bd-meta.bd-vStat-scalarWarn:before {
  color: #dd9b00;
  content: "\ea07";
}
.bd-meta.bd-vStat-contextError:before,
.bd-meta.bd-vStat-scalarError:before {
  color: red;
  content: "\ea0d";
}
.bd-button {
  /* center the content both ways */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  min-height: 2em;
  border: 1px solid #5a739b;
  margin: 0.15em;
  border-radius: 5px;
  background: #9fb1ce;
  cursor: pointer;
}
.bd-button div {
  display: inline-block;
  padding: 3px;
}
.bd-button div:after {
  padding: 5px;
}
.bd-button:hover,
.bd-button.tickle:hover {
  background: #bcd1f2;
  -webkit-animation-name: none;
  animation-name: none;
}
.bd-button.bd-disabled {
  border-color: #a9a9a9;
  background: #ddd;
  color: #a9a9a9;
  cursor: default;
  text-shadow: 1px 2px 1px white;
}
.bd-button.tickle {
  background-image: none;
  animation-name: yellowTickle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes yellowTickle {
  0% {
    background-color: white;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: white;
  }
}
.bd-state-button {
  display: inline-flex;
  min-height: 2em;
  margin: 0.15em;
  cursor: pointer;
  padding: 0 1em;
  border: 1px solid #5a739b;
  border-radius: 5px;
  background: #9fb1ce;
}
.bd-state-button > div {
  /* center the content both ways */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.bd-state-button:hover {
  background: #bcd1f2;
}
.bd-state-button.bd-disabled {
  background: #ddd;
  color: #a9a9a9;
  cursor: default;
  text-shadow: 1px 2px 1px white;
}
.bd-state-button.checkbox {
  padding: 0.2em;
  border: none;
  background-color: inherit;
}
.bd-state-button.checkbox > div {
  border: 1px solid black;
  padding: 3px;
  font-weight: bold;
}
.bd-state-button.checkbox > div > div::selection {
  background-color: inherit;
  color: inherit;
}
.bd-state-button.checkbox > div > div:nth-child(2) {
  height: 1em;
  width: 1em;
  text-align: center;
}
.bd-state-button.radio-button {
  padding: 0.2em;
  border: none;
  background-color: inherit;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bd-state-button.radio-button div::selection {
  background-color: inherit;
  color: inherit;
}
.bd-state-button.checkbox.state-null,
.bd-state-button.radio-button.state-null {
  color: #c6be1b;
}
.bd-input {
  /* center the content both ways */
  display: inline-flex;
  align-items: center;
  margin: 0.2em;
  border: 1px solid #969696;
  border-radius: 5px;
  padding: 0.2em;
  background-color: inherit;
}
.bd-input input {
  min-width: 10em;
  padding: 2px;
  border: 0;
  background-color: inherit;
}
.bd-input.bd-focused input {
  background-color: white;
}
.bd-input .placeholder,
.bd-input.empty.bd-focused .placeholder {
  display: none;
}
.bd-input.empty .placeholder {
  display: block;
  position: absolute;
  color: #d6d6d6;
  bottom: 0;
  left: 0;
}
.bd-listBox {
  display: inline-block;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  min-width: 10em;
  margin: 1em;
  overflow-y: auto;
  cursor: pointer;
}
.bd-listBox.fixed {
  overflow-y: hidden;
}
.bd-listBox .no-items {
  display: none;
}
.bd-listBox.no-data .no-items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CCCCCC;
  margin: 2em;
}
.bd-listBox .up-arrow,
.bd-listBox .down-arrow {
  padding: 3px;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  padding: 0.05em;
  background-color: #9fb1ce;
}
.bd-listBox .up-arrow:hover,
.bd-listBox .down-arrow:hover {
  background-color: #bacff2;
}
.bd-listBox.arrows .up-arrow,
.bd-listBox.arrows .down-arrow {
  display: flex;
}
.bd-listBox .items > div {
  border: 1px solid #f2f2f2;
  padding: 3px;
}
.bd-listBox .items .mouseOverItem {
  border: 1px solid #6990ce;
}
.bd-listBox .focusedItem,
.bd-listBox.bd-focused .focusedItem,
.bd-listBox.bd-for-combo .focusedItem {
  border: 1px solid #c3cfe2;
  background-color: #c3cfe2;
}
.bd-listBox.bd-focused .selectedItem,
.bd-listBox .selectedItem {
  color: white;
  border: 1px solid #6990ce;
  background-color: #6990ce;
}
.bd-listBox.query-before .up-arrow {
  background-color: yellow;
}
.bd-listBox.query-after .down-arrow {
  background-color: yellow;
}
.bd-comboBox {
  display: inline-flex;
  align-items: center;
  margin: 0.2em;
  border: 1px solid #969696;
  border-radius: 5px;
  padding: 0.2em;
  background-color: inherit;
}
.bd-comboBox.bd-listBox-visible {
  border-bottom-width: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.bd-comboBox .bd-static,
.bd-comboBox input {
  min-width: 10em;
  padding: 2px;
  border: 0;
  background-color: inherit;
}
.bd-comboBox.bd-focused .bd-static,
.bd-comboBox.bd-focused input {
  background-color: white;
}
.bd-comboBox .placeholder,
.bd-comboBox.empty.bd-focused .placeholder {
  display: none;
}
.bd-comboBox.empty .placeholder {
  display: block;
  position: absolute;
  color: #d6d6d6;
  bottom: 0;
  left: 0;
}
.bd-comboBox .arrow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}
.bd-comboBox .arrow:hover {
  background-color: #bcd1f2;
}
.bd-listBox.bd-for-combo {
  position: absolute;
  margin: 0;
  border: 1px solid #969696;
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  opacity: 1;
  max-height: 15em;
}
.bd-dialog {
  margin: 0;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bd-dialog > div {
  background-color: black;
  color: white;
  border: 2px solid #888;
}
.bd-dialog .bd-title-bar {
  background-color: #888;
}
.bd-dialog .body {
  padding: 5px;
  overflow: auto;
}
.bd-dialog .body .bottomButtons {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/*# sourceMappingURL=http://localhost:8080/altoviso/bd-widgests/less/main.css.map */