@charset "UTF-8";

.bd-comboBox {
    display: inline-flex;
    align-items: center;
    margin: @combo-margin;
    border: @combo-border-width @combo-border-style @combo-border-color;
    border-radius: @combo-border-radius;
    padding: @combo-padding;
    background-color: @input-bg-color;

    &.bd-listBox-visible {
        border-bottom-width:0;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
    }

    .bd-static, input {
        min-width:  @combo-input-width;
        padding: @combo-input-padding;
        border: 0;
        background-color: inherit;
    }

    &.bd-focused .bd-static,
    &.bd-focused input {
        background-color: @input-bg-color-focus;
    }

    .placeholder, &.empty.bd-focused .placeholder {
        display: none;
    }

    &.empty .placeholder {
        display: block;
        position: absolute;
        color: @combo-placeholder-color;
        bottom: 0;
        left: 0;
    }

    .arrow {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding: 5px;
        border-radius:5px;
    }

    .arrow:hover{
        background-color:@button-hover;
    }
}

.bd-listBox.bd-for-combo {
    position: absolute;
    margin:0;
    border: @combo-border-width @combo-border-style @combo-border-color;
    //border-color:red;
    border-top-width:0;
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-left-radius:@combo-border-radius;
    border-bottom-right-radius:@combo-border-radius;
    background-color: @input-bg-color-focus;
    opacity: 1;
    max-height: 15em;
}