@charset "UTF-8";

@button-background: #9fb1ce;
@button-hover-background: #bacff2;
@button-disabled-background: #ddd;
@button-hover: #bcd1f2;
@button-gap: 0.15em;
@button-border-color: #5a739b;
@button-border-radius: 5px;
@button-border: 1px solid @button-border-color;
@button-pad: 1em;
@button-disabled-color: #a9a9a9;
