@charset "UTF-8";

@listBox-color: @widget-color;
@listBox-bg-color: @widget-bg-color;
@listBox-border-color: @widget-border-color;

@listBox-focus-color: @widget-focus-color;
@listBox-focus-bg-color: @widget-focus-bg-color;

@listBox-selected-color: @listBox-focus-color;
@listBox-selected-bg-color: @listBox-focus-bg-color;

@listBox-disabled-color: @widget-disabled-color;
@listBox-disabled-bg-color: @widget-disabled-bg-color;
@listBox-disabled-border-color: @widget-disabled-border-color;

@listBox-placeholder-color: @widget-placeholder-color;

@listBox-margin: @widget-margin;
@listBox-border-width: @widget-border-width;
@listBox-border-style: @widget-border-style;
@listBox-border-radius: @widget-border-radius;
@listBox-padding: @widget-padding;
@listBox-input-width: @widget-input-width;
@listBox-input-padding: @widget-input-padding;

@listBox-item-padding: 3px;
@listBox-item-border-width: @widget-border-width 0 0;
@listBox-item-border-color: @listBox-border-color;

@listBox-arrow-color: @static-color;
@listBox-arrow-bg-color: @static-bg-color;
@listBox-arrow-border-color: @static-border-color;

@listBox-arrow-hover-color: @static-hover-color;
@listBox-arrow-hover-bg-color: @static-hover-bg-color;
@listBox-arrow-hover-border-color: @static-hover-border-color;

@listBox-arrow-query-color: @static-hover-color;
@listBox-arrow-query-bg-color: yellow;
@listBox-arrow-query-border-color: @static-hover-border-color;

@listBox-no-items-color: #CCCCCC;

