@charset "UTF-8";

.bd-labeled {
    margin: @labeled-margin;
    padding: @labeled-padding;
    border: @labeled-border-width @labeled-border-style @labeled-border-color;
    border-radius: @labeled-border-radius;
    position: relative;
    label {
        color: @labeled-color;
        background-color: @bg-color;
        position: absolute;
        top: -1em;
        left: .3em;
        padding: 0 .2em;
        font-size: 80%;
    }
}

.bd-dialog .bd-labeled label {
    background-color: @dialog-bg-color;

}