@charset "UTF-8";

.bd-button {
    /* center the content both ways */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;

    color: @button-color;
    background: @button-bg-color;

    margin: @button-gap;
    padding: 0 @button-pad;
    border: @button-border-width @button-border-style @button-border-color;
    border-radius: @button-border-radius;
    cursor: pointer;

    > div {
        display: inline-block;
        padding: 0;
        text-align: center;
    }

    div:after {
        padding: 5px;
    }

    &:hover, &.tickle:hover {
        color: @button-hover-color;
        background: @button-hover-bg-color;
        border-color: @button-hover-border-color;

        -webkit-animation-name: none;
        animation-name: none;
    }

    &.tickle {
        background-image: none;
        animation-name: yellowTickle;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    &.bd-disabled,
    &.tickle.bd-disabled,
    &.bd-disabled:hover,
    &.tickle.bd-disabled:hover {
        color: @button-disabled-color;
        background: @button-disabled-bg-color;
        border-color: @button-disabled-border-color;
        cursor: default;
        text-shadow: 1px 2px 1px white;
    }
}

@keyframes yellowTickle {
    0% {
        background: white;
    }
    50% {
        background: yellow;
    }
    100% {
        background: white;
    }
}
