@charset "UTF-8";

.bd-state-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 2em;

    color: @button-color;
    background: @button-bg-color;

    margin: @button-gap;
    padding: 0 @button-pad;
    border: @button-border-width @button-border-style @button-border-color;
    border-radius: @button-border-radius;
    cursor: pointer;

    //> div {
    //    /* center the content both ways */
    //    display: inline-flex;
    //    justify-content: center;
    //    align-items: center;
    //}

    &:hover, &.tickle:hover {
        color: @button-hover-color;
        background: @button-hover-bg-color;
        border-color: @button-hover-border-color;

        -webkit-animation-name: none;
        animation-name: none;
    }

    &.checkbox {
        padding: @state-button-pad;
        background-color: inherit;

        //> div {
            border: 1px solid black;
            padding: 3px;
            font-weight: bold;

            > div::selection {
                background-color: inherit;
                color: inherit;
            }

            > div:nth-child(2) {
                height: 1em;
                width: 1em;
                text-align: center;
            }
        //}
    }

    &.radio-button {
        padding: @state-button-pad;
        border: none;
        background-color: inherit;
        .icon-mixin;
        div::selection {
            background-color: inherit;
            color: inherit;
        }
    }

    &.checkbox.state-null,
    &.radio-button.state-null {
        color: @state-button-null-color
    }

    &.bd-disabled,
    &.tickle.bd-disabled,
    &.bd-disabled:hover,
    &.tickle.bd-disabled:hover {
        color: @button-disabled-color;
        background: @button-disabled-bg-color;
        border-color: @button-disabled-border-color;
        cursor: default;
        text-shadow: 1px 2px 1px white;
    }
}
