@charset "UTF-8";

.bd-input {
    /* center the content both ways */
    display: inline-flex;
    align-items: center;
    margin: @input-margin;
    border: @input-border-width @input-border-style @input-border-color;
    border-radius: @input-border-radius;
    padding: @input-padding;
    background-color: @input-bg-color;

    input {
        min-width: @input-input-width;
        padding: @input-input-padding;
        border: 0;
        background-color:inherit;
    }

    &.bd-focused input {
        background-color: @input-bg-color-focus;
    }

    .placeholder, &.empty.bd-focused .placeholder {
        display: none;
    }

    &.empty .placeholder {
        display: block;
        position: absolute;
        color: @input-placeholder-color;
        bottom: 0;
        left: 0;
    }
}






